@layer toast, main;

@import "normalize.css";
@import "toast.css" layer(toast);

@layer main {
  :root {
    font-size: 16px;
  }

  * {
    font-size: 1rem;
  }

  .box {
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
  }

  .box-1 {
    background-color: burlywood;
  }

  .box-2 {
    background-color: cadetblue;
  }

  .box-3 {
    background-color: chocolate;
  }

  .box-4 {
    background-color: darkkhaki;
  }

  .btn-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .btn {
    padding: 1rem;
    cursor: pointer;
    border: none;

    transition: all 0.5s;
  }

  .btn:active {
    transform: translateY(3px);
  }

  .btnInfo {
    background-color: #0084ff;
  }
  .btnSuccess {
    background-color: green;
  }
  .btnWarning {
    background-color: yellow;
  }
  .btnError {
    background-color: red;
  }
}
